
<div class="">
  <form class="form-login">
    <h1 class="h4 mb-4 text-center">Cadastro de usuário</h1>
    <div class="form-group">
      <label for="usuario.login">Email (será usado como login):</label>
      <input [(ngModel)]="usuario.login" type="email" name="email" class="form-control" id="usuario.login" aria-describedby="emailHelp" placeholder="Digite seu email...">
      <small id="email.detalhe" class="form-text text-muted">Seu e-mail nunca será compartilhado e servirá futuramente como login.</small>
    </div>

    <div class="form-group">
      <label for="usuario.nome">Nome:</label>
      <input [(ngModel)]="usuario.nome" type="text" class="form-control" id="usuario.nome" name="nome" placeholder="Digite seu nome...">
    </div>

    <div class="form-group">
      <label for="usuario.senha">Senha:</label>
      <input [(ngModel)]="usuario.senha" type="password" class="form-control" id="usuario.senha" name="senha" placeholder="Digite sua Senha...">
    </div>

    <button type="button" (click)="adicionar()" class="btn btn-primary">Salvar</button>

      <div *ngIf="msgSucesso" class="alert alert-success close p-3 mb-5" role="alert">
        <button (click)="apagarMensagemSucesso()" type="button" class="text-right close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button><br />
        {{msgSucesso}}
      </div>

      <div *ngIf="msgErro" class="alert alert-danger close p-3 mb-5" role="alert">
        <button (click)="apagarMensagemErro()" type="button" class="text-right close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <br />
        {{msgErro}}
      </div>

  </form>
</div>

