<body class="text-center">
  <form class="form-signin">

    <div *ngIf="!autenticado()">
      <img class="mb-4" src="https://ps.w.org/jwt-auth/assets/icon-256x256.png?rev=2298869" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Autenticação</h1>
      <label  for="inputEmail" class="sr-only">Email / Login</label>
      <input [(ngModel)]="login.email" name="email" type="email" id="inputEmail" class="form-control" placeholder="E-mail..." required autofocus>
      <label for="inputPassword" class="sr-only">Senha:</label>
      <input [(ngModel)]="login.senha" name="senha" type="password" id="inputPassword" class="form-control" placeholder="Senha..." required>
      <div class="checkbox mb-3">
        <label>
          <input [(ngModel)]="login.manterAutenticado" name="manterAutenticado" type="checkbox" value="remember-me"> Manter conectado
        </label>
      </div>
      <button (click)="autenticar()" class="btn btn-lg btn-primary btn-block" type="submit">Autenticar</button>
    </div>

    <div *ngIf="autenticado()">
      <div class="form-group">
        <label class="alert alert-success p-3 mb-5">Você está autenticado como: {{loginAutenticado}}</label>
        <button (click)="sair()" class="btn btn-lg btn-secondary btn-block p-3 mb-5" type="submit">Sair</button>
      </div>
    </div>

      <!--<div *ngIf="msgSucesso && !msgErro" class="alert alert-success close p-3 mb-5" role="alert">
        <button (click)="apagarMensagemSucesso()" type="button" class="text-right close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button><br />
        {{msgSucesso}}
      </div>

      <div *ngIf="msgErro && !msgSucesso" class="alert alert-danger close p-3 mb-5" role="alert">
        <button (click)="apagarMensagemErro()" type="button" class="text-right close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <br />
        {{msgErro}}
      </div>-->

  </form>
</body>
