<header>
  <nav class='navbar navbar-expand-sm navbar-toggleable-sm navbar-light text-light bg-dark border-bottom box-shadow mb-3'>
    <div class="container">
      <div>
        <a class="navbar-brand text-light" [routerLink]='["/"]'>iCustom</a>
        <br />
        <label>Seu sistema pronto para gerar e agrupar produtos.</label>
        <label>NetCore - Entityframework - Autenticação com JWT - WebAPI - Angular.</label>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]='{"show": isExpanded}'>
        <ul class="nav nav-tabs flex-grow">
          <!--<li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
    <a class="nav-link text-light" [routerLink]='["/"]'>Home</a>
  </li>-->
          <!--<li class="nav-item" [routerLinkActive]='["link-active"]'>
    <a class="nav-link text-light" [routerLink]='["/counter"]'>Counter</a>
  </li>-->
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-light" [routerLink]='["/usuario"]'>Usuário</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-light" [routerLink]='["/login"]'>Autenticar</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
